<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plastic Origins - Réinitialisation du mot de passe</title>
</head>
<body>
    
<h1> Réinitialisation du mot de passe</h1>

<form action="/auth/reset" method="post" enctype="utf8">
    
    <label for="email">Email</label>
    <br/>
    <input type="email" id="email" name="user_email" >
    <br/>
    <button type="submit">Réinitialiser mon mot de passe.</button>
</form>

</body>
</html>