name: .NET Core

on: [push]

env:
  DOTNET_VERSION: '3.1.301'

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1

    - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Setup NuGet & Restore
      uses: nuget/setup-nuget@v1
      run: nuget restore Surfrider.PlasticOrigins.Backend.Mobile.sln

    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: Test with dotnet
      run: dotnet test ./Surfrider.PlasticOrigins.Backend.Mobile.sln --configuration Release
